# org files (local, personal notes and project/task management)
*.org

# Minified bookmarklet
#
# Commenting out to let this go to github until I maybe get github actions working
#
#mq-tos-bookmarklet.min.js
